<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>columbia</title>
    <link rel="stylesheet" href="{% static 'css/homeStyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="jumbotron">
          <p id="coffeeText">Coffee production in Colombia has a reputation for producing mild, well-balanced coffee beans.[1][2][3][4] Colombia's average annual coffee production of 11.5 million bags is the third total highest in the world, after Brazil and Vietnam, though highest in terms of the arabica bean.[5][6][7][8] The beans are exported to United States, Germany, France, Japan, and Italy.[9] Most coffee is grown in the Colombian coffee growing axis region, while other regions focus on quality instead of volumes, such as Sierra Nevada de Santa Marta. In 2007, the European Union granted Colombian coffee a protected designation of origin status.[10] In 2011, UNESCO declared the "Coffee Cultural Landscape" of Colombia, a World Heritage site.[11]

      The coffee plant had spread to Colombia by 1790.[12] The oldest written testimony of the presence of coffee in Colombia is attributed to a Jesuit priest, José Gumilla. In his book The Orinoco Illustrated (1730), he registered the presence of coffee in the mission of Saint Teresa of Tabajé, near where the Meta river empties into the Orinoco. Further testimony comes from the archbishop-viceroy Caballero y Gongora (1787) who registered the presence of the crop in the north east of the country near Giron (Santander) and Muzo (Boyaca) in a report that he provided to the Spanish authorities. </p>
        <div class="back">
          <button type="button" class="btn btn-outline-success"><a href="{% url 'index'%}">Columbia</a></button>
        </div>

        </div>
    </div>

  </body>
</html>
